/*
 * Style tweaks
 * --------------------------------------------------
 */

#education{
  overflow:hidden;
}
#extracurricular{
  overflow: hidden;
}
#experience{
  overflow: hidden;
}
.matcard{
  width:auto;
  background-color: #fff;
  overflow: hidden;

}
#masterrow{
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  overflow: visible;
}

html,
body {
  overflow-x: hidden;  /*Prevent scroll on narrow devices */
  background: #303030;
}

.navbar{
  position: relative;

}

.jumbotron {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('images/griffith.jpg');
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: right top;

  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  z-index: 2;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  height: 95vh;
}
#menubutton{
  position: absolute;
  font-size: 8px;
  bottom:0px;
  left:3px;
}
.skill>a{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 1px !important;
  font-size: 12px !important;
}
.panel-heading{
  background-color: #009688 !important;
  color: white !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media screen and (min-width: 991px) {

  #buttongroupheight{
    display: flex;
    align-items:center;
  }
}
@media screen and (max-height: 690px) {

  .jumbotron{
    height: 660px;
  }
}
.teal {
    color: teal;
}
hr{
  
  margin-top: 7px;
  margin-bottom: 7px;
  border-top-width: 1px;
  border-top-color: #ccc;
  
}
.tree-toggler{
  cursor: pointer;
}
.skill{
  cursor: pointer;
}
.skillselect{
  cursor: pointer;
  position: relative;
  float:right; 
  margin: 0px;
  margin-left: 10px;
  padding-top: 0px;
  margin-right: -5px;
}
.list-group-item{
  padding-left: 8px !important;
  padding-right: 5px !important;
}
.list-group-item>ul{
  padding-left: 15px;
}
.list-group-item-text{
  margin-top: -5px;
  margin-bottom: 5px;
}
.list-group-item:hover{
  background-color: transparent !important;
}
#skill-panel{
  overflow: auto;
}
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}
.menuitem{
  font-size: 20px;
}
.minimizer{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.nav-pills>li.active> a {
    background-color: #009688;
}
.nav-pills>li.active> a:hover {
    background-color: #00796B;
}
#dotnav{
  display: none;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 991px) {

  #dotnav{
    display: block;
  }
  #menusidebar{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 500ms ease;
    transform: translate3d(-100%, 0, 0);
    width: 90%;
    height: 100%;
  }
  #menusidebar.activemenu{
    transition: transform 500ms ease;
    transform: translate3d(0%, 0, 0);
    width: 90%;
    height: 100%;
  }
  #skills{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 500ms ease;
    transform: translate3d(110%, 0, 0);
    width: 90%;
    height: 100%;
  }
  #skills.activeskills{
    transition: transform 500ms ease;
    transform: translate3d(10%, 0, 0);
    width: 90%;
    height: 100%;
  }
  #contentrow{
    transition: transform 500ms ease;
    transform: translate3d(0%, 0, 0);    
  }
  #contentrow.activemenu{
    transition: transform 500ms ease;
    transform: translate3d(90%, 0, 0);
  }
  #exprow{
    transition: transform 500ms ease;
    transform: translate3d(0%, 0, 0);    
  }
 
  #exprow.activeskills{
    transition: transform 500ms ease;
    transform: translate3d(-90%, 0, 0);
  }

  .jumbotron {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('images/griffith.jpg');
    background-size:   cover;
  background-repeat: no-repeat;
  background-position: right top;

  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  z-index: 2;
  margin-left: 15px;
  margin-right: 15px;
  }
  #skills{
    padding-top: 0px !important;
  }
  #name{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #school{margin-top: 10px;}

  /* FONT SIZING JUMBOTRON */
  @media screen and (max-width: 550px){#name{ font-size: 36px;} #school{font-size: 20px;}}
  @media screen and (max-width: 450px){#name{ font-size: 36px;} #school{font-size: 16px;}}
  @media screen and (max-width: 400px){#name{ font-size: 34px;} #school{font-size: 14px;}}
  @media screen and (max-width: 350px){#name{ font-size: 28px;} #school{font-size: 12px;}}
  @media screen and (max-width: 300px){#name{ font-size: 24px;} #school{font-size: 10px;}}
}
