/*
 * Style tweaks
 * --------------------------------------------------
 */

#education{
  overflow:hidden;
}
#extracurricular{
  overflow: hidden;
}
#experience{
  overflow: hidden;
}
.matcard{
  width:auto;
  background-color: #fff;
  overflow: hidden;

}
#masterrow{
  margin-left: 0px;
  margin-right: 0px;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background: #303030;
}

.navbar{
  position: relative;

}

.jumbotron {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('images/griffith.jpg');
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: right top;

  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  z-index: 2;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  height: 95vh;
}
#menubutton{
  position: absolute;
  font-size: 8px;
  bottom:0px;
  left:3px;
}
.panel-heading{
  background-color: #009688 !important;
  color: white !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media screen and (min-width: 991px) {

  #buttongroupheight{
    display: flex;
    align-items:center;
  }
}
@media screen and (max-height: 690px) {

  .jumbotron{
    height: 660px;
  }
}
.teal {
    color: teal;
}
hr{
  
  margin-top: 7px;
  margin-bottom: 7px;
  border-top-width: 1px;
  border-top-color: #ccc;
  
}
.tree{
  cursor: pointer;
}
.skillselect{
  cursor: pointer;
  border-l
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 991px) {
  .row-offcanvas {
    position: absolute;
    left: -50%; /* 6 columns */
    transition: all .25s ease-out;
    top: 100;
    width: 0px; /* 6 columns */
  }

  .row-offcanvas.active {
    z-index: 2;
    left: 0%; /* 6 columns */
    width: 320px;
    

  }
  #masterrow.active:after {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
}

  .togglebutton{
    z-index:3;
  }
  .jumbotron {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('images/griffith.jpg');
    background-size:   cover;
  background-repeat: no-repeat;
  background-position: right top;

  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  z-index: 2;
  margin-left: 15px;
  margin-right: 15px;
  }
  
}