<style>
.cls{{  include.name | slugify }} {
	width:200px;
	height:200px;
	border-width:5px;
	border-color:white;
	border-style:solid;
    {{ include.background }}
	background-position: center center;
    background-clip: content-box;
    padding: 0px;
	color: white;
    font-size: x-large;
}
a:hover{
    text-decoration: none; !important
}

</style>
<div class="col-sm-4 cls{{  include.name | slugify }}">
    <a style="display:block;color:white;height:100%;width:100%;" href="{{ include.link  }}"><strong>{{include.name}}</strong></a>
</div>
